<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">
      
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <!-- <ion-header collapse="condense">
    <ion-toolbar> </ion-toolbar>
  </ion-header> -->
  <div id="map" class="map">
    <div id="back-arrow-div" routerLink="">
      <ion-icon name="arrow-back" id="arrow-icon"></ion-icon>
    </div>

    <ion-input
      id="input"
      fill="outline"
      placeholder="Looking for?"
      color="black"
      shape="round"
    ></ion-input>
  </div>
</ion-content>
